{{extend 'layout_ela.html'}}
{{block header}}
<style>


    #DataTables_Table_0_paginate, #DataTables_Table_0_info {
        padding: 20px !important;
    }

    table {
        width: 100% !important;
    }
</style>
{{end}}
{{block page_js}}
<script src="{{=URL('static','vendor/layout_ela/js/lib/datatables/datatables.min.js')}}"></script>
<script src="{{=URL('static','vendor/layout_ela/js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js')}}"></script>
<script src="{{=URL('static','vendor/layout_ela/js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js')}}"></script>
<script src="{{=URL('static','vendor/layout_ela/js/lib/datatables/datatables-init.js')}}"></script>


<script src="{{=URL('static','vendor/layout_ela/js/lib/datatables/cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js')}}"></script>
<script src="{{=URL('static','vendor/layout_ela/js/lib/datatables/cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js')}}"></script>
<script src="{{=URL('static','vendor/layout_ela/js/lib/datatables/cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js')}}"></script>
<script src="{{=URL('static','vendor/layout_ela/js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js')}}"></script>
<script src="{{=URL('static','vendor/layout_ela/js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js')}}"></script>
<script src="{{=URL('static','vendor/layout_ela/js/lib/datatables/datatables-init.js')}}"></script>

<script>
    $('table').DataTable({
        dom: 'lfrtiBp',
        buttons: [
            {
                extend: 'pdfHtml5',
                text: 'Generar reporte PDF',
                title: 'Listado de responsables',
                filename: 'Responsables',
                pageSize: 'LETTER',
                exportOptions: {
                    columns: [0, 1]
                },
                customize: function (doc) {
                    doc.content[1].table.widths = [
                        '50%',
                        '50%'
                    ]
                }
            }
        ],
        language: {
            "decimal": "",
            "emptyTable": "{{=T("No hay información")}}",
            "info": "{{=T("Mostrando _START_ a _END_ de _TOTAL_ Entradas")}}",
            "infoEmpty": "{{=T("Mostrando 0 to 0 of 0 Entradas")}}",
            "infoFiltered": "{{=T("(Filtrado de _MAX_ total entradas)")}}",
            "infoPostFix": "",
            "thousands": ",",
            "lengthMenu": "{{=T("Mostrar _MENU_ Entradas")}}",
            "loadingRecords": "{{=T("Cargando...")}}",
            "processing": "{{=T("Procesando...")}}",
            "search": "{{=T("Buscar:")}}",
            "zeroRecords": "{{=T("Sin resultados encontrados")}}",
            "paginate": {
                "first": "{{=T("Primero")}}",
                "last": "{{=T("Último")}}",
                "next": "{{=T("Siguiente")}}",
                "previous": "{{=T("Anterior")}}"
            }

        }
    });
    $('table').addClass('display nowrap table table-hover table-striped table-bordered');
</script>
{{end page_js}}
<div class="card">
    <h1>{{=T("Administración de responsables")}}</h1>

    <div class="card-body">
        <br/>
    {{=grid}}

    </div>
</div>