{{extend 'layout_ela.html'}}

<div class="card">
    <h1>{{=T("Mostrar usuario")}}</h1>

    <div class="card-body">
        <br/>
        <table cellpadding="15">
            <tr>
                <td><h3>{{=T("Nombre de usuario: ")}}</h3></td>
                <td><h3>{{=user_name}}</h3></td>
            </tr>
            <tr>
                <td>
                    <h3><h3>{{=T("Rol de usuario: ")}}</h3></h3>
                </td>
                <td><h3>{{=rol}}</h3></td>
            </tr>
        </table>

    </div>
</div>