<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>TuNota</title>
    <link rel="shortcut icon" href="{{=URL('static','images/favicon3.png')}}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{{=URL('static','images/favicon3.png')}}">

    <!-- Fontfaces CSS-->
    <link href="{{=URL('static','notas1/css/font-face.css')}}" rel="stylesheet" media="all">
    <link href="{{=URL('static','notas1/vendor/font-awesome-4.7/css/font-awesome.min.css')}}" rel="stylesheet" media="all">
    <link href="{{=URL('static','notas1/vendor/font-awesome-5/css/fontawesome-all.min.css')}}" rel="stylesheet" media="all">
    <link href="{{=URL('static','notas1/vendor/mdi-font/css/material-design-iconic-font.min.css')}}" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="{{=URL('static','notas1/vendor/bootstrap-4.1/bootstrap.min.css')}}" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="{{=URL('static','notas1/vendor/animsition/animsition.min.css')}}" rel="stylesheet" media="all">
    <link href="{{=URL('static','notas1/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css')}}" rel="stylesheet" media="all">
    <link href="{{=URL('static','notas1/vendor/wow/animate.css')}}" rel="stylesheet" media="all">
    <link href="{{=URL('static','notas1/vendor/css-hamburgers/hamburgers.min.css')}}" rel="stylesheet" media="all">
    <link href="{{=URL('static','notas1/vendor/slick/slick.css')}}" rel="stylesheet" media="all">
    <link href="{{=URL('static','notas1/vendor/select2/select2.min.css')}}" rel="stylesheet" media="all">
    <link href="{{=URL('static','notas1/vendor/perfect-scrollbar/perfect-scrollbar.css')}}" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="{{=URL('static','notas1/css/theme.css')}}" rel="stylesheet" media="all">
    <link rel="stylesheet" href="{{=URL('static','css/web2py-bootstrap4.css')}}" /> {{include 'web2py_ajax.html'}}
    <!-- this includes jquery.js')}}, calendar.{{=URL('static','notas/js/.css')}} and web2py.js')}} -->
    {{block head}}{{end}}

    <style>
        /*Para las notificaciones*/
        
        li>.slimScrollDiv {
            height: {
                {
                    ="50px"if not notif_nuevas else "200px"
                }
            }
            !important;
        }
        
        .message-center {
            height: 200px !important;
        }
        
        .notif-margin {
            margin-top: 17px !important;
        }
        
        .container-fluid {
            padding: 0px 30px 23px !important;
        }
    </style>

</head>

<body class="animsition">
    {{session.contnoacpetadas =len( db(db.reclamacion.aceptada==False).select())}} {{session.noaceptadas=db(db.reclamacion.aceptada==False).select()}} {{session.contlistavista =len( db(db.reclamacion.vista=='True').select())}} {{session.listavista=db(db.reclamacion.vista=='True').select()}}
    <div class="page-wrapper">
        <!-- HEADER MOBILE-->
        <header class="header-mobile d-block d-lg-none">
            <div class="header-mobile__bar">
                <div class="container-fluid">
                    <div class="header-mobile-inner">
                        <a class="" href="{{=URL('default', 'index')}}">
                            <img src="{{=URL('static','notas1/images/icon/logop4.png')}}" alt="NPIngreso" />
                        </a>
                        <button class="hamburger hamburger--slider" type="button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <nav class="navbar-mobile">
                <div class="container-fluid">
                    <ul class="navbar-mobile__list list-unstyled">
                        <li>
                            <a href="{{=URL('default', 'index')}}">
                                <i class="fas fa-home"></i>Inicio1</a>
                        </li>
                        <li>
                            <a href="{{=URL('static','Doc1.pdf')}}">
                                <i class="fas fa-download"></i>Calendario de exámenes</a>
                        </li>
                        {{if not auth.user is None:}}

                        <li class=" has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-upload"></i>Importar datos</a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li>
                                    <a href="{{=URL('base_datos', 'importar')}}">Notas</a>
                                </li>
                                <li>
                                    <a href="{{=URL('base_datos', 'carrera')}}">Carreras</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="{{=URL('reclamacion', 'ver')}}">
                                <i class="fas fa-edit"></i>Reclamaciones</a>
                        </li>
                        <li>
                            <a href="{{=URL('reclamacion', 'ver_examen')}}">
                                <i class="far fa-file"></i>Solicitud de mostrado</a>
                        </li>
                        <li class=" has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-user"></i>Usuario</a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li>
                                    <a href="{{=URL('usuario', 'crear')}}">Crear</a>
                                </li>
                                <li>
                                    <a href="{{=URL('usuario', 'administrar')}}">Administrar</a>
                                </li>
                                <li>
                                    <a href="{{=URL('usuario', 'cambiar_rol')}}">Cambiar rol</a>
                                </li>
                            </ul>
                        </li>
                        <li class=" has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-file-text"></i>Convocatoria</a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li>
                                    <a href="{{=URL('tipo_examen', 'crear')}}">Crear</a>
                                </li>
                                <li>
                                    <a href="{{=URL('tipo_examen', 'administrar')}}">Administrar</a>
                                </li>
                            </ul>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-table"></i>Asignatura</a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li>
                                    <a href="{{=URL('asignatura', 'crear')}}">Crear</a>
                                </li>
                                <li>
                                    <a href="{{=URL('asignatura', 'administrar')}}">Administrar</a>
                                </li>
                            </ul>
                        </li>
                        <li class=" has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-list-alt"></i>Curso</a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li>
                                    <a href="{{=URL('curso', 'crear')}}">Crear</a>
                                </li>
                                <li>
                                    <a href="{{=URL('curso', 'administrar')}}">Administrar</a>
                                </li>
                            </ul>
                        </li>
                        <li class=" has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-calendar-alt"></i>Fechas</a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li>
                                    <a href="{{=URL('fechas', 'crear')}}">Crear</a>
                                </li>
                                <li>
                                    <a href="{{=URL('fechas', 'administrar')}}">Administrar</a>
                                </li>
                            </ul>
                        </li>
                        <li class=" has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-check-square"></i>Otorgamiento</a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li>
                                    <a href="{{=URL('otorgamiento', 'crear')}}">Crear</a>
                                </li>
                                <li>
                                    <a href="{{=URL('otorgamiento', 'administrar')}}">Administrar</a>
                                </li>
                            </ul>
                        </li>
                        <li class=" has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-group"></i>Estudiantes</a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li>
                                    <a href="{{=URL('estudiante', 'listar')}}">Listar</a>
                                </li>
                                <li>
                                    <a href="{{=URL('estudiante', 'listarvisitado')}}">Listar Visitados</a>
                                </li>
                                <li>
                                    <a href="{{=URL('estudiante', 'notas')}}">Notas</a>
                                </li>
                            </ul>
                        </li>
                        {{pass}}
                    </ul>
                </div>
            </nav>
        </header>
        <!-- END HEADER MOBILE-->

        <!-- MENU SIDEBAR-->
        <aside class="menu-sidebar d-none d-lg-block">
            <div class="logo">
                <a href="#">
                    <img src="{{=URL('static','notas1/images/icon/logop4.png')}}" alt="Cool Admin" />
                </a>
            </div>
            <div class="menu-sidebar__content js-scrollbar1">
                <nav class="navbar-sidebar">
                    <ul class="list-unstyled navbar__list">
                        <li>
                            <a href="{{=URL('default', 'index')}}">
                                <i class="fas fa-home"></i>Inicio</a>
                        </li>
                        <li>
                            <a href="{{=URL('static','Doc1.pdf')}}">
                                <i class="fas fa-download"></i>Calendario de exámenes</a>
                        </li>
                        {{if not auth.user is None:}}
                        <li class=" has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-user"></i>Usuario</a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                <li>
                                    <a href="{{=URL('usuario', 'crear')}}">Crear</a>
                                </li>
                                <li>
                                    <a href="{{=URL('usuario', 'administrar')}}">Administrar</a>
                                </li>
                                <li>
                                    <a href="{{=URL('usuario', 'cambiar_rol')}}">Cambiar rol</a>
                                </li>
                            </ul>
                        </li>

                        <li class=" has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-upload"></i>Importar datos</a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                <li>
                                    <a href="{{=URL('base_datos', 'importar')}}">Notas</a>
                                </li>
                                <li>
                                    <a href="{{=URL('base_datos', 'carrera')}}">Carreras</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="{{=URL('reclamacion', 'ver')}}">
                                <i class="fas fa-edit"></i>Reclamaciones</a>
                        </li>
                        <li>
                            <a href="{{=URL('reclamacion', 'ver_examen')}}">
                                <i class="far fa-file"></i>Solicitud de mostrado</a>
                        </li>
                        <li class=" has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-file-text"></i>Convocatoria</a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                <li>
                                    <a href="{{=URL('tipo_examen', 'crear')}}">Crear</a>
                                </li>
                                <li>
                                    <a href="{{=URL('tipo_examen', 'administrar')}}">Administrar</a>
                                </li>
                            </ul>
                        </li>
                        <li class=" has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-check-square"></i>Otorgamiento</a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                <li>
                                    <a href="{{=URL('otorgamiento', 'crear')}}">Crear</a>
                                </li>
                                <li>
                                    <a href="{{=URL('otorgamiento', 'administrar')}}">Administrar</a>
                                </li>
                            </ul>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-table"></i>Asignatura</a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                <li>
                                    <a href="{{=URL('asignatura', 'crear')}}">Crear</a>
                                </li>
                                <li>
                                    <a href="{{=URL('asignatura', 'administrar')}}">Administrar</a>
                                </li>
                            </ul>
                        </li>
                        <li class=" has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-list-alt"></i>Curso</a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                <li>
                                    <a href="{{=URL('curso', 'crear')}}">Crear</a>
                                </li>
                                <li>
                                    <a href="{{=URL('curso', 'administrar')}}">Administrar</a>
                                </li>
                            </ul>
                        </li>
                        <li class=" has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-calendar-alt"></i>Fechas</a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                <li>
                                    <a href="{{=URL('fechas', 'crear')}}">Crear</a>
                                </li>
                                <li>
                                    <a href="{{=URL('fechas', 'administrar')}}">Administrar</a>
                                </li>
                            </ul>
                        </li>
                        <li class=" has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-group"></i>Estudiantes</a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                <li>
                                    <a href="{{=URL('estudiante', 'listar')}}">Listar</a>
                                </li>
                                <li>
                                    <a href="{{=URL('estudiante', 'listarvisitado')}}">Listar Visitados</a>
                                </li>
                                <li>
                                    <a href="{{=URL('estudiante', 'notas')}}">Notas</a>
                                </li>
                            </ul>
                        </li>
                        {{pass}}
                    </ul>
                </nav>
            </div>
        </aside>
        <!-- END MENU SIDEBAR-->

        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <!-- HEADER DESKTOP-->
            <header class="header-desktop">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">

                        <div class="header-wrap">
                            <form class="form-header" action="{{=URL('estudiante', 'detalles')}}" method="POST" id="formBuscar">

                                <input class="au-input au-input--xl" type="text" id="ci" name="ci" placeholder="Introduzca el carnet de identidad" required/>
                                <button type="submit" class="btn btn-primary btn-sm">
                                    <i class="zmdi zmdi-search"></i>
                                </button>
                            </form>
                            {{if not auth.user is None:}}

                            <div class="header-button">
                                <div class="noti-wrap">

                                    <div class="noti__item js-item-menu">
                                        <i class="zmdi zmdi-notifications"></i>
                                        <span class="quantity">{{=session.contnoacpetadas}}</span>

                                        <div class="notifi-dropdown js-dropdown">
                                            <div class="notifi__title">
                                                <p>Tienes {{=session.contnoacpetadas}} Reclamaciones</p>
                                            </div>
                                            {{for rec in session.noaceptadas:}}
                                            <div class="notifi__item">
                                                <div class="bg-c1 img-cir img-40">
                                                    <i class="zmdi zmdi-email-open"></i>
                                                </div>
                                                <div class="content">
                                                    <p>{{=rec.correo}}</p>
                                                    <span class="date">{{=rec.id_notas.id_estudiante.nombre_apellidos}}</span>
                                                </div>
                                            </div>
                                            {{pass}}
                                            <div class="notifi__footer">
                                                <a href="{{=URL('reclamacion', 'ver')}}">Ver Reclamaciones</a>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                                <div class="account-wrap">
                                    <div class="account-item clearfix js-item-menu">

                                        <div class="content">
                                            <a class="js-acc-btn" href="#">{{=" " + auth.user.username}}</a>
                                        </div>
                                        <div class="account-dropdown js-dropdown">


                                            <div class="account-dropdown__item">
                                                <a href="{{=URL('usuario', 'detalles', args=auth.user.id)}}">
                                                    <i class="zmdi zmdi-account"></i>Perfil</a>
                                            </div>


                                            <div class="account-dropdown__footer">
                                                <a href="{{=URL('usuario','modificar_password')}}">
                                                    <i class="zmdi zmdi-settings"></i>Modificar contraseña</a>
                                            </div>
                                            <div class="account-dropdown__footer">
                                                <a href="{{=URL('default','user/logout')}}">
                                                    <i class="zmdi zmdi-power"></i>Desconectarse</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>



                            {{pass}}
                        </div>

                    </div>
                </div>
            </header>
            <!-- HEADER DESKTOP-->
            </br>

            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="w2p_flash alert alert-primary">{{=response.flash or ''}}</div>
                            {{include}} {{=response.toolbar() if response.show_toolbar else ''}}

                        </div>
                    </div>
                </div>
            </div>

            </br>
            </br>
            </br>
            </br>
            </br>
            </br>
            </br>
            </br>
            </br>
            </br>
            </br>
            </br>
            </br>
            </br>
            </br>
            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">

                        <div class="row">
                            <div class="col-md-12">
                                <div class="copyright">
                                    <p>Copyright © 2020 Universidad de Ciego de Ávila. Desarrollado por el DDSW. <a href="https://www.unica.cu">UNICA</a>.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </br>


            <!-- END MAIN CONTENT-->
            <!-- END PAGE CONTAINER-->
        </div>
    </div>
    <!-- modal medium -->
    <div class="modal fade" id="mediumModal" tabindex="-1" role="dialog" aria-labelledby="mediumModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="mediumModalLabel">Seleccione</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
                </div>
                <div class="modal-body">
                    <div class="card-body card-block">
                        <form action="{{=URL('reclamacion', 'exportarpdf')}}" method="POST" id="formBuscar">

                            <div class="row form-group">
                                <div class="col col-md-3">
                                    <label for="select" class=" form-control-label">Asignatura</label>
                                </div>
                                <div class="col-12 col-md-9">
                                    <select id="asig" name="asig" class="form-control">
                                                    {{for asi in session.asignaturas:}}
                                                        <option value="{{=asi.id}}">{{=asi.nombre}}</option>
                                                    {{pass}}   
                                                    </select>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-3">
                                    <label for="select" class=" form-control-label">Convocatoria</label>
                                </div>
                                <div class="col-12 col-md-9">
                                    <select id="conv" name="conv" class="form-control">
                                                    {{for asi in session.tipos:}}
                                                        <option value="{{=asi.id}}">{{=asi.tipo}}</option>
                                                    {{pass}}   
                                                    </select>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-3">
                                    <label for="select" class=" form-control-label">Curso</label>
                                </div>
                                <div class="col-12 col-md-9">
                                    <select id="cur" name="cur" class="form-control">
                                                    {{for asi in session.cursos:}}
                                                        <option value="{{=asi.id}}">{{=asi.inicio}}-{{=asi.fin}}</option>
                                                    {{pass}}   
                                                    </select>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>

                                <button type="submit" class="btn btn-primary">Aceptar</button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- end modal medium -->
    <div class="modal fade" id="mediumModal1" tabindex="-1" role="dialog" aria-labelledby="mediumModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="mediumModalLabel">Seleccione</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
                </div>
                <div class="modal-body">
                    <div class="card-body card-block">
                        <form action="{{=URL('reclamacion', 'examenpdf')}}" method="POST" id="formBuscar">

                            <div class="row form-group">
                                <div class="col col-md-3">
                                    <label for="select" class=" form-control-label">Asignatura</label>
                                </div>
                                <div class="col-12 col-md-9">
                                    <select id="asig" name="asig" class="form-control">
                                                    {{for asi in session.asignaturas:}}
                                                        <option value="{{=asi.id}}">{{=asi.nombre}}</option>
                                                    {{pass}}   
                                                    </select>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-3">
                                    <label for="select" class=" form-control-label">Convocatoria</label>
                                </div>
                                <div class="col-12 col-md-9">
                                    <select id="conv" name="conv" class="form-control">
                                                    {{for asi in session.tipos:}}
                                                        <option value="{{=asi.id}}">{{=asi.tipo}}</option>
                                                    {{pass}}   
                                                    </select>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-3">
                                    <label for="select" class=" form-control-label">Curso</label>
                                </div>
                                <div class="col-12 col-md-9">
                                    <select id="cur" name="cur" class="form-control">
                                                    {{for asi in session.cursos:}}
                                                        <option value="{{=asi.id}}">{{=asi.inicio}}-{{=asi.fin}}</option>
                                                    {{pass}}   
                                                    </select>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>

                                <button type="submit" class="btn btn-primary">Aceptar</button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Jquery JS-->
    <script src="{{=URL('static','notas1/vendor/jquery-3.2.1.min.js')}}"></script>
    <!-- Bootstrap JS-->
    <script src="{{=URL('static','notas1/vendor/bootstrap-4.1/popper.min.js')}}"></script>
    <script src="{{=URL('static','notas1/vendor/bootstrap-4.1/bootstrap.min.js')}}"></script>
    <!-- Vendor JS       -->
    <script src="{{=URL('static','notas1/vendor/slick/slick.min.js')}}">
    </script>
    <script src="{{=URL('static','notas1/vendor/wow/wow.min.js')}}"></script>
    <script src="{{=URL('static','notas1/vendor/animsition/animsition.min.js')}}"></script>
    <script src="{{=URL('static','notas1/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js')}}">
    </script>
    <script src="{{=URL('static','notas1/vendor/counter-up/jquery.waypoints.min.js')}}"></script>
    <script src="{{=URL('static','notas1/vendor/counter-up/jquery.counterup.min.js')}}">
    </script>
    <script src="{{=URL('static','notas1/vendor/circle-progress/circle-progress.min.js')}}"></script>
    <script src="{{=URL('static','notas1/vendor/perfect-scrollbar/perfect-scrollbar.js')}}"></script>
    <script src="{{=URL('static','notas1/vendor/chartjs/Chart.bundle.min.js')}}"></script>
    <script src="{{=URL('static','notas1/vendor/select2/select2.min.js')}}">
    </script>

    <!-- Main JS-->
    <script src="{{=URL('static','notas1/js/main.js')}}"></script>
    <script src="{{=URL('static','js/web2py-bootstrap4.js')}}"></script>
</body>
{{block header}} {{end}} {{block page_js}} {{end}}

</html>
<!-- end document-->